block variables
    -var title = 'Category'

extends ../common/layout

block append main
    .content-wrapper
        // Content Header (Page header)
        section.content-header
            h1
                | 分类列表
                small List of all Categories
            ol.breadcrumb
                li
                    a(href="#")
                        i.fa.fa-dashboard
                        | Home
                li
                    a(href="#") Tables
                li.active Simple
        // Main content
        section.content
            .row
                .col-xs-12
                    .box
                        .box-header
                            h3.box-title 所有分类
                            .box-tools
                                .input-group(style="width: 150px;")
                                    input.form-control.input-sm.pull-right(type="text", name="table_search", placeholder="Search")
                                    .input-group-btn
                                        button.btn.btn-sm.btn-default
                                            i.fa.fa-search
                        .box-body.table-responsive.no-padding
                            table.table.table-hover
                                tr
                                    th ID
                                    th 名称
                                    th 创建时间
                                    th 修改时间
                                    th 主题数
                                each category, i in categories
                                    tr
                                        td= i+1
                                        td #{category.name}
                                        td #{moment(category.create_at).format("YYYY-MM-DD HH:mm:ss")}
                                        td #{moment(category.update_at).format("YYYY-MM-DD HH:mm:ss")}
                                        td #{category.count}