if comments.length < 1
    .box.transparent
        .inner.grey.text-center
            span 目前尚无回复
else
    .box
        .cell
            span.grey #{comments.length}&nbsp;回复
        each comment, i in comments
            .cell(data-comment-id="#{comment._id}")
                .fr.fade
                    .thank_area
                        if comment.thanked
                            span.thank 已感谢
                        else
                            a.thank.js-comment-thank(href="javascript:;", data-commenter-id="#{comment.commenter_id._id}") 感谢 TA
                    | &nbsp;&nbsp;
                    span.no #{i+1}
                .avatar
                    a(href="/member/" + "#{comment.commenter_id._id}")
                        img(src="/uploads/avatar/" + "#{comment.commenter_id.avatar}")
                .whole
                    strong
                        a(href="/member/" + "#{comment.commenter_id._id}") #{comment.commenter_id.nickname}
                    | &nbsp;&nbsp;
                    span.small.fade #{moment(comment.create_at).fromNow()}
                    | &nbsp;&nbsp;
                    span.thank_count.fade(class=comment.thanks.length > 0 ? '' : 'hide')
                        | ♥&nbsp;
                        span #{comment.thanks.length}
                    .major #{comment.content}
if session
    .box
        .cell
            .fr
                a(href="#") 回到顶部
            | 添加一条回复
        .cell
            form.wide(method="post", action="/thread/comment/#{thread._id}")
                textarea.tp(name="content", rows="4")
                .bx
                    .fr.grey 请尽量让自己的回复能够对别人有帮助
                    input.super.normal.button(type="submit", value="回复")