#Sidebar
    .box
        if session
            .cell
                .avatar
                    a(href="/member/" + "#{session._id}")
                        img(src="/uploads/avatar/" + "#{session.avatar}" + "?v=#{moment(session.update_at).unix()}")
                .all
                    h2.title
                        a(href="/member/" + "#{session._id}") #{session.nickname}
                    .meta.small.fade
                        | #{session.description}
            .inner.clearfix.money
                .fr
                    a.balance_area(href="/balance")
                        | &nbsp;2&nbsp;
                        img(src="/images/gold.png")
                        | &nbsp;68&nbsp;
                        img(src="/images/silver.png")
                        | &nbsp;88&nbsp;
                        img(src="/images/bronze.png")
                a(href="#") 0 条未读提醒
        else
            .cell.lh
                strong V2ex = way to explore
                div.fade V2EX 是一个关于分享和探索的地方
            .inner
                .ladder.text-center
                    a.super.normal.button.inline-block(href="/register") 现在注册
                .ladder.text-center
                    | 已注册用户请&nbsp;
                    a(href="/login") 登录
    if session
        .box
            .inner
                li.fa.fa-gift(style="color:#f90;")
                | &nbsp;
                a(href="/task/sign") 领取今日的登录奖励
    .box
        .cell
            span.fade 社区运行状况
        .cell
            ul
                li.couple
                    span.a.grey 注册会员
                    strong.b #{usersTotal}
                li.couple
                    span.a.grey 主题
                    strong.b #{threadsTotal}
                li.couple
                    span.a.grey 回复
                    strong.b #{commentsTotal}