block variables
    -var title = '账户余额'
extends ../common/layout
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 账户余额
                        .fr(style="margin: -3px -8px -4px 0px;")
                            a.tab(href="#") 社区财富排行榜
                            a.tab(href="#") 金额
                    .cell
                        .grey.Mb15 当前账户余额
                        .balance_area(style="font-size: 24px; line-height: 24px;")
                            if score.gold > 0
                                | #{score.gold}&nbsp;
                                img(src="/images/gold.png")
                            if score.silver > 0
                                | &nbsp;#{score.silver}&nbsp;
                                img(src="/images/silver.png")
                            | &nbsp;#{score.bronze}&nbsp;
                            img(src="/images/bronze.png")
                    div
                        table.data(cellpadding="0", cellspacing="0", border="0", width="100%")
                            thead
                                tr
                                    td.h(width="130") &#26102;&#38388;
                                    td.h(width="100") &#31867;&#22411;
                                    td.h(width="60") &#25968;&#39069;
                                    td.h(width="60") &#20313;&#39069;
                                    td.h(width="auto", style="border-right: none;") &#25551;&#36848;
                            tbody
                                each record in records
                                    tr
                                        td.d
                                            small.grey #{moment(record.create_at).format("YYYY-MM-DD HH:mm:ss")}
                                        case record.type
                                            when 0
                                                td.d 每日签到奖励
                                            when 1
                                                td.d 创建主题
                                            when 2
                                                td.d 主题感谢收益
                                            when 3
                                                td.d 主题感谢
                                            when 4
                                                td.d 评论感谢收益
                                            when 5
                                                td.d 评论感谢
                                            when 6
                                                td.d 主题评论收益
                                            when 7
                                                td.d 主题评论
                                        case record.type % 2
                                            when 0
                                                td.d(style="text-align: right;")
                                                    span.positive
                                                        strong #{record.amount}
                                            when 1
                                                td.d(style="text-align: right;")
                                                    span.negative
                                                        strong #{record.amount}
                                        td.d(style="text-align: right;") #{record.asset}
                                        case record.type
                                            when 0
                                                td.d 每日签到奖励 #{record.amount} 铜币
                                            when 1
                                                td.d
                                                    |创建了主题&nbsp;
                                                    a(href="/thread/#{record.detail.thread._id}") #{record.detail.thread.title}
                                            when 2
                                                td.d
                                                    |收到&nbsp;
                                                    a(href="/member/#{record.detail.person.username}") #{record.detail.person.username}
                                                    |&nbsp;的感谢&nbsp;&#8250;&nbsp;
                                                    a(href="/thread/#{record.detail.thread._id}") #{record.detail.thread.title}
                                            when 3
                                                td.d
                                                    |感谢&nbsp;
                                                    a(href="/member/#{record.detail.person.username}") #{record.detail.person.username}
                                                    |&nbsp;的主题&nbsp;&#8250;&nbsp;
                                                    a(href="/thread/#{record.detail.thread._id}") #{record.detail.thread.title}
                                            when 4
                                                td.d
                                                    |收到&nbsp;
                                                    a(href="/member/#{record.detail.person.username}") #{record.detail.person.username}
                                                    |&nbsp;的感谢&nbsp;&#8250;&nbsp;
                                                    a(href="/thread/#{record.detail.thread._id}") #{record.detail.thread.title}
                                            when 5
                                                td.d
                                                    |感谢&nbsp;
                                                    a(href="/member/#{record.detail.person.username}") #{record.detail.person.username}
                                                    |&nbsp;的评论&nbsp;&#8250;&nbsp;
                                                    a(href="/thread/#{record.detail.thread._id}") #{record.detail.thread.title}
                                            when 6
                                                td.d
                                                    |收到&nbsp;
                                                    a(href="/member/#{record.detail.person.username}") #{record.detail.person.username}
                                                    |&nbsp;的评论&nbsp;&#8250;&nbsp;
                                                    a(href="/thread/#{record.detail.thread._id}") #{record.detail.thread.title}
                                            when 7
                                                td.d
                                                    |创建回复&nbsp;&#8250;&nbsp;
                                                    a(href="/thread/#{record.detail.thread._id}") #{record.detail.thread.title}
                .box
                    .crumbs 可完成的任务
                    .inner
                        h2.line 获得初始资本
                        p 欢迎来到 V2EX，这是一个关于分享和探索的社区。你在进入这里时，你会获得 2000 铜币。接下来你在社区内的一切行为，包括创建主题和回复等，都将会消耗铜币。而当你完成了一些有意义的事情时，你就会收获铜币，以及，好心情。


                .box
                    .cell
                        span.fade
                            strong V2EX
                            | &nbsp;/ 节点导航
                        .fr
                            a(href="#") 浏览全部节点
            include ../common/sidebar
block footer
    include ../common/footer