block variables
    -var title = member.nickname
extends ../common/layout
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box.member
                    .cell
                        .photo
                            img(src="/uploads/avatar/" + '#{member.avatar}', width="72", height="72")
                        .info
                            h1.name #{member.nickname}
                            .archive 加入于 #{moment(member.create_at).fromNow()}
                .box.member
                    .cell_tabs
                        a.cell_tab_current(href="") #{member.nickname} 收藏的主题
                        a.cell_tab(href="") 创建的主题
                    each thread in threads
                        .cell.item
                            .all
                                h2.title
                                    a(href="/thread/#{thread.thread_id._id}") #{thread.thread_id.title}
                                .meta.small.fade
                                    a.node(href="/category/#{thread.thread_id.category._id}") #{thread.thread_id.category.name}
                                    span &nbsp;•&nbsp;
                                    strong
                                        a(href="/member/#{thread.thread_id.author_id._id}") #{thread.thread_id.author_id.nickname}
                                    span &nbsp;•&nbsp;#{moment(thread.thread_id.create_at).fromNow()}
                                    if thread.thread_id.comments > 0
                                        span &nbsp;•&nbsp;最后回复来自&nbsp;
                                        strong
                                            a(href="/member/#{thread.thread_id.last_reply._id}") #{thread.thread_id.last_reply.nickname}
                            .reply
                                a.replay-count(href="#") #{thread.thread_id.comments}
            include ../common/sidebar
block footer
    include ../common/footer