block variables
    -var title = '注册'

extends ../common/layout

block header
    include ../common/header

block prepend style
    link(href="/essage/essage.css", rel="stylesheet")

block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 注册
                    -if (errors)
                     .problem
                        | 请解决以下问题然后再提交：
                        ul
                            li #{errors}
                    .cell
                        form(action="/register", method="post")
                            .form-unit
                                span.key 用户名
                                span.val
                                    input.tp(type="text", name="username", value=username ? "#{username}" : "")
                                .tips 请使用 5-12 个半角的 a-z 或数字 0-9
                            .form-unit
                                span.key 昵称
                                span.val
                                    input.tp(type="text", name="nickname", value=nickname ? "#{nickname}" : "")
                            .form-unit
                                span.key 邮箱
                                span.val
                                    input.tp(type="text", name="email", value=email ? "#{email}" : "")
                                .tips 请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人
                            .form-unit
                                span.key 性别
                                span.val
                                    label
                                        input(type="radio", name="gender", value="male", checked)
                                        | 男
                                    label
                                        input(type="radio", name="gender", value="female")
                                        | 女
                            .form-unit
                                span.key 密码
                                span.val
                                    input.tp(type="password", name="password")
                            .form-unit
                                span.key 确认密码
                                span.val
                                    input.tp(type="password", name="passwordcf")
                            .form-unit
                                span.key 描述
                                span.val
                                    textarea.tp(name="description", rows="4")
                            .form-submit
                                input.super.normal.button(type="submit", value="注册")

            include ../common/sidebar

block footer
    include ../common/footer

block append script
    script(type="text/javascript", src="/essage/essage.js")
    script(type="text/javascript").
        jQuery(function($){
            $('#submit').click(function(){
                var formVal = $('#registerForm').serialize();
                $.post('/register', formVal, function(data){
                    if(data.status == 1){
                        Essage.show({
                            message: data.msg,
                            status: 'success',
                            redirect : '/'
                        }, 2000);
                    }else{
                        Essage.show({
                            message: data.msg,
                            status: 'error'
                        }, 2000);
                    }
                },'json');
            });
        });