block variables
    -var title = '修改资料'

extends ../common/layout
block prepend style
    link(href="/essage/essage.css", rel="stylesheet")
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 修改资料
                    -if (errors)
                     .problem
                        | 请解决以下问题然后再提交：
                        ul
                            li #{errors}
                    .cell
                        form(action="/setting", method="post")
                            .form-unit
                                span.key 用户名
                                span.val
                                    input.tp(type="text", name="username", value="#{user.username}", disabled)
                            .form-unit
                                span.key 邮箱
                                span.val
                                    input.tp(type="text", name="email", value="#{user.email}")
                            .form-unit
                                span.key 性别
                                span.val
                                    if user.gender == 'male'
                                        label
                                            input(type="radio", name="gender", value="male", checked)
                                            | 男
                                        label
                                            input(type="radio", name="gender", value="female")
                                            | 女
                                    else
                                        label
                                            input(type="radio", name="gender", value="male")
                                            | 男
                                        label
                                            input(type="radio", name="gender", value="female", checked)
                                            | 女
                            .form-unit
                                span.key 隐私
                                span.val
                                    select(name="privacy")
                                        mixin privacy-option(val, name)
                                            if (user.privacy === val)
                                                option(value=val, selected="selected")= name
                                            else
                                                option(value=val)= name
                                        +privacy-option(0, '所有人')
                                        +privacy-option(1, '已登录的用户')
                                        +privacy-option(2, '只有我自己')
                                .tips 谁可以看到我的主题列表
                            .form-unit
                                span.key 描述
                                span.val
                                    textarea.tp(name="description", rows="4") #{user.description}
                            .form-submit
                                input.super.normal.button(type="submit", value="保存修改")

            include ../common/sidebar

block footer
    include ../common/footer