block variables
    -var title = '欢迎来到 Talk'

extends common/layout

block header
    include common/header

block append main
    #Wrap
        .container
            #Main
                .box
                    #Tab.inner
                        each category in categories
                            a(href="/category/#{category._id}") #{category.name}
                    each thread in threads
                        .cell.item
                            .avatar
                                a(href="/member/#{thread.author_id._id}")
                                    img(src="/uploads/avatar/" + "#{thread.author_id.avatar}")
                            .all
                                h2.title
                                    a(href="/thread/#{thread._id}") #{thread.title}
                                .meta.small.fade
                                    a.node(href="/category/#{thread.category._id}") #{thread.category.name}
                                    span &nbsp;•&nbsp;
                                    strong
                                        a(href="/member/#{thread.author_id._id}") #{thread.author_id.nickname}
                                    span &nbsp;•&nbsp;#{moment(thread.create_at).fromNow()}
                                    if thread.comments > 0
                                        span &nbsp;•&nbsp;最后回复来自&nbsp;
                                        strong
                                            a(href="/member/#{thread.last_reply._id}") #{thread.last_reply.nickname}
                            .reply
                                a.replay-count(href="#") #{thread.comments}
                    .inner
                        a(href="#")
                            span.chevron →&nbsp;
                            | 更多新主题
                .box
                    .cell
                        span.fade
                            strong V2EX
                            | &nbsp;/ 节点导航
                        .fr
                            a(href="#") 浏览全部节点

            include common/sidebar


block footer
    include common/footer