block variables
    -var title = thread.title
extends ../common/layout
block header
    include ../common/header
block prepend style
    link(href="/essage/essage.css", rel="stylesheet")
block append main
    #Wrap
        .container
            #Main
                .box
                    .suggest
                        .fr
                            a(href="")
                                img.avatar(src="/uploads/avatar/" + "#{author.avatar}")
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        a(href="/category/#{category._id}") #{category.name}
                        h1 #{thread.title}
                        #thread_votes.votes
                            a.vote(href="javascript:;", onclick="upVote('#{thread._id}');")
                                li.fa.fa-chevron-up
                            | &nbsp;&nbsp;
                            a.vote(href="javascript:;", onclick="downVote('#{thread._id}');")
                                li.fa.fa-chevron-down
                        | &nbsp;&nbsp;
                        small.grey
                            a(href="/member/#{author._id}") #{author.nickname}
                            | &nbsp;·&nbsp;#{moment(thread.create_at).fromNow()}&nbsp;·&nbsp;#{thread.views} 次点击
                    .cell
                        .detail
                            | !{thread.content}
                    .thread-handle.clearfix
                        .views #{thread.views} 次点击
                        a.tb(href="javascript:;", onclick="collect(this, '#{thread._id}')") #{collect ? '取消收藏' : '加入收藏'}
                        | &nbsp;
                        a.tb(href="#") 忽略主题
                        | &nbsp;
                        a.tb(href="#") 感谢

                include ../common/comment

            include ../common/sidebar
block footer
    include ../common/footer

block append script
    script(type="text/javascript", src="/essage/essage.js")
    script(type="text/javascript").
        function collect(self, id){
            var self = $(self);
            var thread_id = id;
            $.post('/thread/collect', {thread_id: thread_id}, function (data) {
                if(data.login == 0){
                    Essage.show({
                        message: data.msg,
                        status: 'error'
                    }, 2000);
                }else{
                    data.status == 1 ? self.text('取消收藏') : self.text('加入收藏');
                    Essage.show({
                        message: data.msg,
                        status: 'success'
                    }, 2000);
                }
            },'json');
        }
        $('.thank').click(function(){
            var self = $(this);
            var comment = self.parents('.cell');
            var comment_id = comment.attr('data-comment-id');
            var thankCount = parseInt(comment.find('.thank_count span').text());
            $.post('/comment/thank', {comment_id: comment_id}, function(data) {
                if(data.login == 0){
                    Essage.show({
                        message: data.msg,
                        status: 'error'
                    }, 2000);
                }else{
                    if(data.status == 1){
                        comment.find('.thank_count span').text(++thankCount);
                        comment.find('.thank_count').removeClass('hide');
                    }
                }
            },'json');
        });