block variables
    -var title = '主题详情'
extends ../common/layout
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .suggest
                        .fr
                            a(href="")
                                img.avatar(src="//imgs.duwu.me/duwu/avatar/000/00/12/75.jpg")
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        a(href="/category/#{category._id}") #{category.name}
                        h1 #{thread.title}
                        #thread_votes.votes
                            a.vote(href="javascript:;", onclick="upVote('#{thread._id}');")
                                li.fa.fa-chevron-up
                            | &nbsp;&nbsp;
                            a.vote(href="javascript:;", onclick="downVote('#{thread._id}');")
                                li.fa.fa-chevron-down
                        | &nbsp;&nbsp;
                        small.grey
                            a(href="/member/#{author._id}") #{author.nickname}
                            | &nbsp;·&nbsp;#{moment(thread.create_at).fromNow()}&nbsp;·&nbsp;#{thread.views} 次点击
                    .cell
                        .detail
                            | !{thread.content}
                    .thread-handle.clearfix
                        .views #{thread.views} 次点击
                        a.tb(href="#") 加入收藏
                        | &nbsp;
                        a.tb(href="#") 忽略主题
                        | &nbsp;
                        a.tb(href="#") 感谢

                .box
                    .cell
                        span.fade
                            strong V2EX
                            | &nbsp;/ 节点导航
                        .fr
                            a(href="#") 浏览全部节点
            include ../common/sidebar
block footer
    include ../common/footer