block variables
    -var title = '创建主题'

extends ../common/layout

block prepend style
    link(href="/simditor/styles/simditor.css", rel="stylesheet")
    link(href="/essage/essage.css", rel="stylesheet")
    link(href="/select2/css/select2.min.css", rel="stylesheet")
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 创作新主题
                    - if (errors)
                     .problem
                        | 请解决以下问题然后再提交：
                        ul
                            li !{errors}
                    form(action="/thread/new", method="post")
                        .cell 主题标题
                            #titleLength.fr.fade 120
                        .cell.full
                            input(type="text", name="title", autofocus, placeholder="请输入主题标题", value=threadTitle ? "#{threadTitle}" : "")
                        .cell 正文
                            #contentLength.fr.fade 2000
                        .cell.full
                            textarea#content(name="content")
                                - if (threadContent)
                                 | #{threadContent}
                        .cell
                            select#category(style="width:300px;", name="category", data-placeholder="请选择一个分类")
                                option
                                each category in categories
                                    if threadCategory == category._id
                                        option(value="#{category._id}", selected) #{category.name}
                                    else
                                        option(value="#{category._id}") #{category.name}


                        .cell
                            button.super.normal.button(type="submit")
                                i.fa.fa-paper-plane
                                | &nbsp;发布主题

            include ../common/sidebar

block footer
    include ../common/footer

block append script
    script(type="text/javascript", src="/simditor/scripts/module.js")
    script(type="text/javascript", src="/simditor/scripts/hotkeys.js")
    script(type="text/javascript", src="/simditor/scripts/uploader.js")
    script(type="text/javascript", src="/simditor/scripts/simditor.js")
    script(type="text/javascript", src="/select2/js/select2.min.js")
    script(type="text/javascript", src="/essage/essage.js")
    script(type="text/javascript").
        $(function(){
            $("#category").select2();

            var editor = new Simditor({
                textarea: $('#content'),
                placeholder: '文明上网，文明发言',
                defaultImage: 'images/image.png'
            });
        });